body,
html {
    margin: 0;
    padding: 0;
    font-family: "f1" !important;
    /* overflow-x: hidden; */
}

:root {
    --primary: #5E121A;
    --white: #fff;
    --black: #000;
}

.owl-item {
    margin-top: 30px;
    margin-bottom: 30px;
}

.owl-dots,
.owl-nav {
    display: none;
}

/* font */
@font-face {
    font-family: "f1";
    src: url("../fonts/DMSans-Regular.ttf ");
}

@font-face {
    font-family: "f2";
    src: url("../fonts/DMSans-Medium.ttf ");
}

@font-face {
    font-family: "f3";
    src: url("../fonts/PlayfairDisplay-Bold.ttf ");
}

/* font end */
h1,
h2,
h3,
h4,
h5 {
    font-family: "f3";
}

p {
    text-align: justify;
    font-size: 15px;
    line-height: 1.9;
}

a {
    text-decoration: none !important;

}

ul {
    list-style: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

.w-90 {
    width: 90% !important;
    margin: auto;
}

.w-50 {
    width: 50% !important;
    margin: auto;
}

.w-95 {
    width: 95% !important;
    margin: auto !important;
}

.w-80 {
    width: 80%;
    margin: auto;
}

.w-70 {
    width: 70%;
    margin: auto;
}

/* // common design // */
.d-flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.d-flex-al {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.d-flex-as {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
}

.d-flex-ae {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
}

.d-flex-jc {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.d-flex-jb {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.d-flex-je {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.d-flex-al-jc {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.d-flex-al-jb {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/* // common design end // */
/* // button design star // */
.btn-des {
    background: var(--primary);
    color: var(--white) !important;
    border-radius: 7px;
    padding: 8px 18px;
    transition: .3s all;
    border: 0;
    font-size: 15px;
    box-shadow: 0 3px 10px #5e121a26;
    font-family: "f2";
    margin: 10px 0;


}

.btnw-des {
    background: var(--white);
    color: var(--primary) !important;
    border-radius: 7px;
    padding: 8px 18px;
    transition: .3s all;
    border: 0;
    font-size: 15px;
    box-shadow: 0 3px 10px #5e121a26;
    font-family: "f2";
    margin: 10px 0;

}

.btn-bor {
    background: transparent;
    color: var(--primary) !important;
    border-radius: 7px;
    padding: 8px 18px;
    transition: .3s all;
    border: 2px solid var(--primary);
    font-size: 15px;
    box-shadow: 0 3px 10px #5e121a26;
    font-family: "f2";
    margin: 10px 0;
    width: 140px;
    display: inline-block;
}

.clse_btn {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    background: var(--primary);
    width: 25px;
    height: 25px;
    z-index: 1;
    color: var(--white);
}

.mo-di {
    max-width: 350px !important;
}

/* // button design end // */
/* form design */
.form-control,
.form-select {

    padding: 10px 12px !important;
    font-size: 15px !important;
    border: 1px solid #a5a5a529 !important;
    box-shadow: 0 7px 20px #9d9d9d1a;
}



.form-control:focus,
.form-select:focus {
    color: #212529;
    background-color: var(--white);
    border: 1px solid #008dd129 !important;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%) !important;
}

/* form design end */
/* navbar design */
.nav-menu .top-bar {
    background: var(--primary);
    padding: 10px;
}

.nav-menu .top-bar li a {
    color: var(--white);
    display: flex;

}

.nav-menu .top-bar li {
    align-items: center;
    display: flex;
}

.top-bar li a i {
    color: var(--primary);
    background: var(--white);
    width: 25px;
    height: 25px;
    border-radius: 100%;
    font-size: 20px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 4px;
}

.nav-menu .logo_des .what-icon {
    width: 30px;
}

.logo_des .navbar-brand img {
    width: 150px;
}

.logo_des a {
    color: var(--black);
    font-family: "f2";
    font-size: 17px;
}

.nav-background {
    background: var(--primary);
    color: var(--white);
}

.nav-background .nav-link {
    color: var(--white) !important;
    /* text-transform: uppercase; */
}

.nav-background .navbar-brand img {
    width: 100px;
}

.nav-menu .navbar-toggler {
    background: var(--white);
    padding: 5px 10px;
}

.nav-menu .navbar-toggler:focus {
    box-shadow: 0 0 0 !important;
}

.nav-link::before {
    position: absolute;
    content: "";
    margin: auto;
    bottom: 0;
    left: 23%;
    width: 0%;
    height: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.2s;
}

.nav-link::before {
    position: absolute;
    content: "";
    margin: auto;
    bottom: 0;
    left: 23%;
    width: 0%;
    height: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.2s;
}

.nav-menu .navbar-nav .nav-link:hover::before,
.nav-menu .navbar-nav .nav-link.active::before {
    width: 40%;
    transition: 0.4s;
    background: #6acfff;

}

.nav-item {
    position: relative;
}

/* search */



.search-container {
    position: relative;
}

.search-container input::placeholder {
    color: #d8d8d8;
}

.search-container .btn-sea {
    background: transparent !important;
    color: var(--black);
}

.search-container .btn-sea {
    position: absolute;
    right: 11px;
    top: 9px;
    padding: 3px 15px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* search */
#searchform {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    position: relative;
}

#searchform span {
    font-size: 15px;
    font-family: "f1";
}

#search-bar {
    display: block;
    width: 100%;

}

.output {
    list-style: none;
    width: 100%;
    min-height: 0px;
    border-top: 0 !important;
    color: var(--black);
    font-size: 15px !important;
    font-family: "f1";
    position: absolute;
    z-index: 5;
    background: var(--white);
}


.prediction-item {
    padding: 0.5em 0.75em;
}

.output:hover .focus {
    background: var(--white);
    color: #767676;
}

/* search end */
/* dropdown */
.dropdown-menu>li {
    position: relative;

    user-select: none;
    cursor: pointer;
}

.dropdown-menu .sub-menu {
    left: 105%;

}

.right-caret:after,
.left-caret:after {
    content: "";
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    display: inline-block;
    height: 0;
    vertical-align: middle;
    width: 0;
    margin-left: 5px;
}

.right-caret:after {
    border-left: 5px solid var(--primary);
}

.left-caret:after {
    border-right: 5px solid var(--primary);
}

.dropdown-menu {
    padding: 10px 15px 10px 10px !important;

    border: 1px solid #d2d2d2 !important;
    border-radius: 5px !important;

}

.dropdown-menu a {
    color: var(--black);
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-menu li {
    margin: 5px 0;
}

/* dropdown end */
/* navbar design end */
/* home page  */
.banner-design {
    padding: 25px 0 0 0;
    background: linear-gradient(#e8c09a, #d4b297);
}

.banner-design .baner-img {
    text-align: center;
}

.banner-design .baner-img img {
    width: 75%;
    height: auto;
}

.banner-design p {
    color: var(--white);
}

.carousel-control-next,
.carousel-control-prev {
    width: 5% !important;
}

/* carousel */

/* about */
.about-sess .ab-imgs img {
    width: 80%;
    height: auto;
}

.about-sess h2 {
    color: var(--primary);
}

.about-sess .our-vis {
    border: 1px solid var(--primary);
    padding: 10px;
    border-radius: 5px;
}

.our-vis h4 {
    text-align: center;
    color: var(--primary);
    text-decoration: underline;
}

/* about */
/* product design */
.product-back {
    background: url(../img/product-bg.jpg) no-repeat;
    background-size: cover;
    height: 100%;
    padding: 25px 20px;
}

.product-back .aari-title h2 {
    color: var(--white);
    text-align: center;
}

.prod-tab .nav-item {
    margin: 0 8px;
    text-align: center;
    font-family: "f3";

}

.prod-tab .nav-link {
    width: 125px;
    font-size: 17px;
    background: var(--white) !important;
    color: var(--primary);
}

.prod-tab .nav-link.active {
    background: #ffffff6b !important;
    color: var(--white) !important;
}

.prod-work .prod-img img {
    width: 90%;
    border-radius: 100%;
    border: 1px solid var(--white);
    padding: 15px;
}

.prod-work .prod-btn {
    border-radius: 5px;
    border: 2px solid var(--white);
    padding: 9px 25px;
    color: var(--white);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.prod-work .prod-btn p {
    margin: 0;
    text-align: center;
}

.prod-work {
    text-align: center;
}

.prod-work .prod-btn h4 {
    font-size: 20px;
    margin: 0;
}

/* product design end */
/* portfolio design */


.port-img img {
    border-radius: 8px;
    width: 100%;
    height: auto;
    transform: scale(1);
    transition: .3s all;
}

.port-ses {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.port-ses:hover .port-img img {
    transform: scale(1.2);
}

.portfolio-design .aari-title h2 {
    color: var(--primary);
    text-align: center;
}

.port-ses .peac-conte {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 5px 10px;
    background: var(--primary);
    text-align: center;
    color: #fff;
    transition: .7s all;

}

.port-ses:hover .peac-conte {
    background: #5e121a80;
    height: 100%;
    transition: .7s all;
}

/* portfolio design end */
/* blog design */

.blog-ses .blog-img img {
    border-radius: 8px 8px 0 0;
    width: 100%;
    height: auto;
    transform: scale(1);
    transition: .3s all;
}

.blog-ses {
    cursor: pointer;
}

.blog-ses .peac-conte {
    position: relative;
}

.peac-conte h6 {
    text-align: start;
    background: #5e121a;
    display: inline-flex;
    margin: 0;
    color: var(--white);
    padding: 3px;
    position: absolute;
    left: 0;
    top: 0;
}

.our-blog {
    background: #55555512;
    padding: 23px 0;
}

.blog-ses .peac-conte {
    background: var(--white);
    border-radius: 0 0 4px 4px;
    padding: 5px 10px;
    border: 1px solid var(--primary);
    text-align: center;
    position: relative;

}


.blog-ses .blog-design p {
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    line-height: 1.6;
    color: var(--black);

}

.blog-ses .blog-img {
    overflow: hidden;

}

.blog-ses:hover .blog-img img {
    transform: scale(1.2);
}

/* blog design end */
/* our clientcarousel */
.text-monal .text-img img {
    width: 100%;
    height: auto;

}

.text-img {
    position: relative;
}

.text-img::after {
    clip-path: polygon(100% 0, 46% 51%, 100% 100%);
    position: absolute;
    right: 0;
    content: "";
    width: 50px;
    height: 50px;
    background: white;
    top: 50%;
    transform: translate(2%, -50%);
}

.text-monal {
    position: relative;
    overflow: hidden;
    width: 100%;
    border: 1px solid #00000024;
    box-shadow: -1px 5px 15px #00000024;
    border-radius: 10px;

}

.text-monal h6 i {
    font-size: 40px;
    color: var(--primary);
}

.text-details p {
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    line-height: 1.6;
}

/* our clientcarousel end */
/* our client  */
.our-client h2 {
    color: var(--primary);
}

.client-con {
    border: 1px solid #008dd129 !important;
    box-shadow: 0 7px 20px #008dd11a;
    border-radius: 10px;
    padding: 15px;
    position: relative;
}

.our-client .client-con p {
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    line-height: 1.6;
}

.our-client .client-con a {
    color: var(--black);
}

.client-con .img-client,
.client-con .img-client p {
    text-align: center;
    position: relative;
    z-index: 1;
    color: var(--white);
}

.img-client img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 2px solid var(--white);
}

.client-con h6 {
    font-family: "f2";
    font-size: 18px;
    margin: 10px 0;
}

.bots-imgs img {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}

.modal-box .client-con {
    border: 0 !important;
    padding: 30px;
}

.modal-box {
    padding: 0 !important;
}

.re-star i {
    color: #FDCC0D !important;
}

.re-star p {
    margin: 0 5px;
}

/* our client end */
/* home page end */
/* footer */
.footer {
    background: url(../img/footer.jpg) no-repeat;
    background-size: cover;
    height: 100%;
    padding: 25px 20px;
}

.footer .foot-content h5 {
    color: var(--white);
}

.footer .foot-content ul li {
    display: flex;
    margin: 15px 0;
    color: var(--white);
}

.footer .foot-content ul li a {
    color: var(--white);
    margin: 0 5px;
    font-size: 14px;
}

.footer .foot-content ul li i {
    color: var(--primary);
    background: var(--white);
    width: 25px;
    height: 25px;
    border-radius: 100%;
    font-size: 20px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 4px;
    padding: 15px;
}

.footer .foot-content p,
.footer .foot-content p a {
    color: var(--white);
    text-align: center;
}

/* footer end */
/* About DEsign */
.about-pages {
    text-align: center;
    padding: 100px 20px;
    background: url(../img/about-ban.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.about-pages {
    display: none;
}

.about-pages h2 {
    text-shadow: 0 3px 5px #5e131a70;
}

.about-designs .ab-imgs img {
    width: 100%;
    height: auto;
}

.about-designs .about-cotn h2 {
    color: var(--primary);
}

.abos-visions .our-vision img {
    width: 100px;
}

.abos-visions .our-vision {
    background: #ededef;
    padding: 15px;
    text-align: center;
    transition: all 0.8s ease;
    cursor: pointer;
}

.abos-visions .our-vision:hover {
    transition: all 0.8s ease;
    transform: translateY(-10px);
}


.abos-visions .our-vision h3 {
    color: var(--primary);
}

/* About DEsign end */
/* blog view */
.las-blog .blog-last img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 2px solid var(--primary);
    padding: 2px;
}

.las-blog .blog-last h4 {
    color: var(--black);
    font-size: 20px;
}

.las-blog .blog-last p {
    color: var(--black);
    margin: 0;
}

.las-blog .blog-last i,
.sidebar-blog h3 {
    color: var(--primary);

}

.box-blog {
    border: 1px solid #00000026;
    border-radius: 4px;
    padding: 10px;
}

.sidebar-blog {
    padding: 20px;
    box-shadow: 0px 10px 20px rgb(48 124 255 / 15%);
    border-radius: 5px;
    border: 1px solid rgb(48 124 255 / 15%);
}

.blog-design h6 {
    background: var(--primary);
    margin: 0;
    padding: 4px;
    color: var(--white);
    display: inline-block;
}

.blog-design img {
    width: 100%;
    margin-bottom: 10px;
}

.post-sticky {
    position: sticky;
    top: 0;
}

.blog-bgs {
    background: url(../img/design.jpg) no-repeat;
    background-size: cover;
    height: 100%;
    padding: 55px 15px;
    box-shadow: 0px 10px 20px rgb(48 124 255 / 15%);
    border-radius: 5px;
    border: 1px solid rgb(158 158 158 / 40%);
}

.modal-body h4 {
    text-align: center;
    color: var(--primary);
}

/* blog view end */
/* contact design */
.cont-box {
    box-shadow: 0px 10px 20px rgb(48 124 255 / 15%);
    border-radius: 5px;
    border: 1px solid rgb(48 124 255 / 15%);
    padding: 20px 20px 40px 20px;
    text-align: center;
    position: relative;
    background: url(../img/contact.png) no-repeat;
    background-position: bottom;
    background-size: contain;
}

.cont-box .box-icon {
    width: 70px;
    height: 70px;
    background: var(--primary);
    transform: rotate(45deg);
    border-radius: 6px;
    margin: -50px auto auto auto;
}

.cont-box .box-icon i {
    color: var(--white);
    transform: rotate(0deg);
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.cont-details li {
    margin: 5px 0;
}

.cont-details li a {
    color: var(--black);
}

.cont-sess h2,
.enquiry-design h2 {
    color: var(--primary);
    text-align: center;
}

.enquiry-design {
    box-shadow: 0px 10px 20px rgb(48 124 255 / 15%);
    border-radius: 5px;
    border: 1px solid rgb(48 124 255 / 15%);
    padding: 20px;
}

.enquiry-design label {
    font-family: "f3";
}


/* contact design end */
/* product pages */
.produ-pages .nav-link.active {
    background: var(--primary) !important;
    color: var(--white);
}

.produ-pages .nav-link {
    font-size: 17px;
    background: #5e121a26 !important;
    color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 18px;
}

.produ-pages .nav-item {
    margin: 8px 0;
    font-family: "f3";

}

.produ-pages .nav-link.active img {

    filter: invert(0);
}

.produ-pages .nav-item img {
    width: 25px;
    margin-left: 5px;
    filter: invert(1);
}

.prod-img {
    overflow: hidden;
}

.sare-img .prod-img img {
    border-radius: 8px 8px 0 0;
    width: 100%;
    height: auto;
    transform: scale(1);
    transition: .3s all;
}

.sare-img .prod-text {
    border-radius: 0 0 4px 4px;
    padding: 5px 10px;
    border: 1px solid var(--primary);
    text-align: center;
    position: relative;
    color: #000;
}

.sare-img:hover .prod-img img {
    transform: scale(1.2);
}

.title-design h2 {
    color: var(--primary);
    text-align: center;
}

.sare-img .prod-text p {
    text-align: center;
    margin: 0;
    color: var(--black);
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    line-height: 1.6;
    color: var(--black);
}

.prod-count p {
    text-align: justify !important;
}

.sare-img h4 {
    color: var(--black);
}

.sare-img .prod-text .what-icon a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sare-img .prod-text a img {
    width: 18px;
    margin: 0 2px;
}

.sare-img .btn-des {
    width: 140px;
    display: inline-block;
}

.proud-detail .prdcs-imgs .imges-design {
    width: 100%;
    height: auto;
}

.prod-text h3,
.review-design h4 {
    color: var(--primary);
}

/* product pages end */


/*  */
.product-img--main {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 500px;
    margin: 10px;
    border: 5px solid white;
    box-shadow: -1px 5px 15px #00000024;
    border-radius: 10px;
}

.product-img--main__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform .5s ease-out, -webkit-transform .5s ease-out;
    cursor: zoom-in;
}

/* zoom */
/* review design */
.review-design .nav-link.active {

    background: var(--primary) !important;
    color: var(--white);
}

.review-design .nav-link {
    font-size: 17px;
    background: #5e121a26 !important;
    color: var(--primary);
    width: 185px;

}

.review-design .nav-item {
    margin: 0 8px;
    text-align: center;
    font-family: "f3";
}

.proud-descript {

    padding: 20px;
    box-shadow: 0px 10px 20px rgb(48 124 255 / 15%);
    border-radius: 5px;
    border: 1px solid rgb(48 124 255 / 15%);
}

.descrip-der i {
    color: var(--primary);
    font-size: 19px;
    margin-top: 4px;
    margin-right: 4px;
}

.descrip-der ul li {
    display: flex;
    margin: 15px 0;
}

.review-box i {

    color: #FDCC0D !important;
}

.review-box h6 {
    margin: 0 10px;
    background: var(--primary);
    color: #fff;
    padding: 1px 6px;
    border-radius: 6px;
}

.review-box {
    border: 1px solid #00000026;
    border-radius: 4px;
    padding: 10px;
}

.read-more-content {
    display: none;
}

.read-more {
    display: inline-block;
}

.timeline-info {
    position: relative;
    background: #f3f1f1;
    padding: 24px 20px 18px;
    margin-bottom: 12px;
    border: 1px solid #f3f1f1;
    border-radius: 8px;
    margin-left: 54px;
}

.rating-design {
    border: 5px solid white;
    box-shadow: -1px 5px 15px #00000024;
    border-radius: 10px;
    padding: 20px;

}



.rating-designs i {
    cursor: pointer;
    color: #9f9f9f;
    font-size: 20px;
}

.rating-designs i:hover {

    color: #FDCC0D;
}

#enq-review {
    display: none;
}

/* review design end */
/* login design */
.login-page {
    height: 100vh;
    background: url(../img/login-bg.jpg) no-repeat;
    background-size: cover;
}

.login-ses {
    width: 100%;
    height: 100%;
}

.backg-login {
    border-radius: 10px;
    backdrop-filter: blur(10px);
    background-color: rgb(255 255 255 / 31%);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    /* padding: 50px 35px; */
    padding: 35px 35px 50px 35px;
    position: relative;
}


.backg-login .bx {
    position: absolute;
    top: 25px;
    left: 35px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: rgb(255 255 255 / 31%);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}

.backg-login ::placeholder {
    color: #e5e5e5;
}

.backg-login h3 {
    color: #fff;
    text-align: center;
}

.backg-login label {
    color: #fff;
    margin: 5px 0;

}

.backg-login a {
    color: #fff;

}

.backg-login .form-control {
    background-color: #19191973;
    color: #fff;
}

.backg-login .btnw-des {
    width: 100%;
    display: inline-block;
    font-family: "f3";
    text-transform: uppercase;
    text-align: center;
}

.logo-img {
    text-align: center;
}

.logo-img img {
    width: 100px;
    height: auto;
}

/* login-img */
/* modal search */
.modal .modal-frame {
    position: absolute;
    max-width: 100%;
    width: 100%;
    margin: 0;
    height: 40%;
}

.modal-sear {
    border: 0 !important;
    border-radius: 0 !important;
    background-color: #1d1d1d !important;
    height: 100%;
}

.modal-box .form-control {
    background-color: #ffffff63;
    color: var(--white);
}

.modal-box i {
    color: var(--white);
}

.modal-box .form-control:focus {
    color: var(--white);
    background-color: #ffffff94;
}

/* modal search  */

/* Float icon */

.social_icon {
    position: fixed;
    left: 0;
    bottom: 5%;
    z-index: 111;
}

.social_icon ul .en_quiry {
    font-size: 15px;
    background: linear-gradient(#6acfff, #2196F3);
    border-radius: 0px 5px 5px 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    color: #fff !important;
    position: absolute;
    bottom: 230px;
    left: 0;
    justify-content: center;
}

.social_icon ul .wh_at {
    font-size: 15px;
    background: linear-gradient(317deg, #095200, #76ff4a);
    border-radius: 0px 5px 5px 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    color: #fff !important;
    position: absolute;
    bottom: 175px;
    left: 0;
    justify-content: center;
}

.social_icon ul .wh_at {
    font-size: 22px;
}

.social_icon ul .call {
    font-size: 15px;
    background: linear-gradient(317deg, #5e121a, #ef3f52);
    border-radius: 0px 5px 5px 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    color: #fff !important;
    position: absolute;
    bottom: 120px;
    left: 0;
    justify-content: center;
}

/* Float icon end */